* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
    /* padding: 10px 10px; */
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 5px 5px;
    background: grey;
    color: white;
    border-bottom: 3px solid white;
}

#workspaces button.focused {
    background: #5C2D91;
    border-bottom: 3px solid #ff661a;
}

#mode, #clock, #battery, #network, #memory, #cpu, #temperature, #disk {
    padding: 5px 5px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background: transparent;
    /* background-color: #000000; */
    /* border-bottom: 3px solid transparent; */
}

#battery {
    background-color: #000000;
    color: white;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
